.slider {
    margin: 0 20px;
    overflow: hidden;
    padding: 2rem 0;
    position: relative;
    height: 100%;
    img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        height: 100%;
        aspect-ratio: 350/500;
    }
    .vote{
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 40px;
        right: 10px;
        @extend .bg-danger;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        span{
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
        }
    }
    a{
        color: $white;
    }
    .star{
        cursor: pointer;
        position: absolute;
        bottom: 40px;
        left: 10px;
        z-index: 10;
    }
}
.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
    border: none;
    @extend .bg-danger;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    @extend .bg-danger;
}
